.App {
  --var-color-app-bg: rgb(58, 58, 58);
  --var-color-app-text: rgb(209, 209, 209);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--var-color-app-bg);
  color: var(--var-color-app-text);
  padding: 20px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

svg text {
  fill: var(--var-color-app-text);
}